{% extends "layout.html" %} {% block content %}
<div class="flex w-full justify-evenly">
  <div class="m-auto">
  <div class="flex justify-evenly">
    <img alt="shortcut icon" src="{{static_url_for('static', filename='build/padlock.png') }}" style="width:80px;height:80px;"/>
  </div>
  <br />
  <h3 class="text-center"><b>Login to your account.</b></h3>
  <form id="registerForm" hx-post="/register" hx-trigger="submit" class="block" method="POST" action="" class="text-center" role="form">
    {{ form.csrf_token }}
    <div class="mb-4 flex flex-col">
      <div class="flex justify-between place-items-center">
          {{form.username.label(class_="block py-2 px-3 text-gray-700 text-lg font-bold")}}
          {{form.username(placeholder="username", class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
      </div>
      <div class="flex justify-between">
          {{form.password.label(class_="block py-2 px-3 text-gray-700 text-lg font-bold")}}
          {{form.password(placeholder="password", class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
      </div>
    </div>
    <div class="flex justify-center">
      <input class="shadow bg-purple-600 hover:bg-blue-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit" value="login"></input>
    </div>
  </form>
  <p class="text-center"><em>Not registered?</em> Click <a class="text-blue-500" href="/register">here</a> to register.</p>
</div>
</div>
{% endblock %}
