<nav
  class="relative flex w-full flex-wrap items-center justify-between bg-[#FBFBFB] py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 lg:py-4">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div>
      <a
        class="mx-2 my-1 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 lg:mb-0 lg:mt-0"
        href="/">
        <img
          class="mr-2"
          src="../static/build/padlock.png"
          style="height: 20px"
          alt="TE Logo"
          loading="lazy" />
        <span class="font-medium dark:text-neutral-200"
          >Guard Tower</span>
      </a>
    </div>
    <div>
      <div class="flex justify-evenly gap-3" hx-target="">
        {% if current_user.is_anonymous == True and current_user.is_authenticated == False %}
        <a
          href="/login"
          class="shadow bg-blue-400 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
          Login
        </a>
        <a
          href="/register"
          class="shadow bg-purple-400 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
          Sign up for free
        </a>
        {% endif %}
        {% if current_user.is_authenticated %}
          <a class="shadow bg-purple-400 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" 
            href="/logout">logout
          </a>
        {% endif %}
       
      </div>
  </div>
</nav>